.header {
    width: 96%;
    height: 180px;
    background-color: white;
    padding: 30px;
    display: flex;
}

.logo_custom {
    width: 420px;
    height: 100px;
}

.topmenu {
    width: 55%;
    display: flex;
    list-style: none;
    padding: 50px 0px;
    gap: 50.5px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 40px;
}

.topmenu li a {
    position: relative;
    font-family: 'Poppins';
    font-size: 20px;
    color: #212121;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.topmenu li a:hover {
    position: relative;
    font-family: 'Poppins';
    font-size: 20px;
    color: #b43535;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.topmenu li a::before {
    content: '';
    position: absolute;
    margin-top: 35px;
    margin-left: -5px;
    width: 90%;
    height: 2px;
    background: #b43535;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

.topmenu li a:hover::before {
    color: #b43535;
    font-weight: 500;
    font-size: 20px;
    transform: scaleX(1);
    transform-origin: left;
}

.cart {
    padding: 70px 0px;
    cursor: pointer;
}

.iconCart {
    color: var(--primary);
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}